/*Style général*/
:root
{
    --primary:  #cc00cc;
    --primary-hover: purple;
    --secondary:rgb(230, 230, 230);
    --secondary-hover:rgb(199, 199, 199);
}

img
{
    max-width:40vw;
    max-height:40vh;
}

h1,h2
{
    text-align: center;
    width:100%;
}

.flex-box
{
    display:flex;
    flex-wrap: nowrap;
}

.inline-box
{
    display:inline-block;
}

.line-box
{
    width:100%;
    height:50vh;    
    margin-top: -3em;
    padding-top: 3em;
    align-items:center;
}

/*Topbar*/
.topbar
{
    background: var(--secondary);
    text-align:center;
    align-items: center;
    height:3em;
    width:100%; 
    position: fixed;
    top:0px;
    left:0px; 
}

.topbartitle
{
    margin:0;
    padding:0;
    align-items: center;
}

.topbarlogo
{
    height:2em;
    width:2em;
    margin-right:1em;
    padding:0;
}

/*Navigation bar*/
.navbar
{
  color: var(--primary);
  /*background-color: var(--secondary);*/
  height:3em;
  font-weight:bold;
  width:100%;
  align-items: center;
}

.navlink,
.modal-buttons
{
    padding: 1em;
    color:var(--primary) !important;
    align-items: center;
    text-decoration: none;  
}


.navlink:hover,
.navlink:active
{
    color:var(--primary-hover) !important;
    text-decoration: none; 
}


/*Content*/
.content
{
    margin-top:3em;
    width:100%;
}

/*Lines parts*/
.part-title
{
    color: var(--primary);
}

.first-part
{
    text-align: end;
}

.last-part
{
    text-align:start;
}

.details
{
    color:var(--secondary-hover);
    font-size: large;
    text-align:center;
    width:100%;
}

.text-part
{
    width:40vw;
    text-align: center;
}


.img-part
{
    width:60vw;
    text-align: center;
}

/*Button*/
.fixed-button
{
    background: var(--secondary);
    text-align:center;
    align-items: center;
    height:3em;
    width:auto; 
    position: fixed;
    bottom:10vh;
    font-size:larger;
    border:none;
    left:42%;
    right:42%;
}

.ytb
{
    border:none;
    min-height: 350px;
}